<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID"
    version="2.5">
    <display-name>foodle-x9</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Filter declarations -->
    <!--
        More on filters:
        http://java.sun.com/products/servlet/Filters.html
    -->
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.x9.foodle.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- Servlet declarations -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.x9.foodle.user.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.x9.foodle.user.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.x9.foodle.user.RegisterController</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Testing stuff -->
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.x9.foodle.testservlets.TestingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdamTest</servlet-name>
        <servlet-class>com.x9.foodle.testservlets.AdamTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdamTest</servlet-name>
        <url-pattern>/adam-test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Hasher</servlet-name>
        <servlet-class>com.x9.foodle.testservlets.Hasher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hasher</servlet-name>
        <url-pattern>/hasher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SessionDumper</servlet-name>
        <servlet-class>com.x9.foodle.testservlets.SessionDumper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionDumper</servlet-name>
        <url-pattern>/dump-session</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDumper</servlet-name>
        <servlet-class>com.x9.foodle.testservlets.UserDumper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDumper</servlet-name>
        <url-pattern>/dump-user</url-pattern>
    </servlet-mapping>
</web-app>