@CHARSET "UTF-8";


/** HEADER
 * This is the style-sheat for the "header" inside the body (above the content)
 *
 * Everything is inside the "header" class.
 */

.header {
	/* positioning */
	padding: 5px;
	padding-bottom: 2px;
	height:  110px;
	margin-top: 25px;
	
	background: url(../images/header-gradient.png) repeat-x;
	
	/* rounded on top */
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	
	/* components inside will be relative to it's position */
	position: relative;
	
	border-bottom: 1px solid rgb(71, 105, 117);
}
.header a {
	/* links are bold with a etched look */
	color: #000 !important;
	opacity:0.8;
	text-shadow: 0px 1px 0px #FFF;
	font-weight: bold;
	
}
.header a:hover {
	/* adds a big background blur when moused over 
	 * and makes the font-color darker.
	 * Has no other decoration */
	color: #000;
	opacity:1;
	text-shadow: 0px 1px 0px #FFF, 0px 0px 10px #FFF;
	font-weight: bold;
	
	text-decoration: none !important;	
}
.header #header-no-opacity {
	/* The image is a link to the start-page but should not be transparent */
	opacity: 1.0 !important;
}

.header #logo {
	/* positioning of the logo image */
	text-align: left;
	margin-top: 5px;
}

.header #new_button{
	/* positioning of the logo image */
	float: right;
	margin-top: -20px;
	margin-right: 5px;
}

.header #search {
	/* Search div */
	position:absolute;
	top:50%;
	margin-top: -10px;
	left:30%;
	padding: 2px;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.header .searchfield {
	/* position */
	background: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	height: 20px;
	width: 22em;
	
	/* padding the text inside */
	padding-left: 22px;
	padding-right: 67px;
	
	/* looks */
	border: 1px solid rgb(71, 105, 117);
	-moz-box-shadow: 0px 1px 0px #FFF;/*, inset 0px 1px 3px #000;*/
	-webkit-box-shadow: 0px 1px 0px #FFF;
	box-shadow: 0px 1px 0px #FFF;
}

.header .searchfield:focus {
	/* give the search-field a highlighted look on focus*/
	box-shadow: 0px 1px 0px #FFF, 0px 0px 20px #FFF;
	-moz-box-shadow: 0px 1px 0px #FFF, 0px 0px 20px #FFF;
	-webkit-box-shadow: 0px 1px 0px #FFF, 0px 0px 20px #FFF;
	
	/* without the square outline */
	outline: none;
}

.header #search_button {
	background: url(../images/search-button.png) no-repeat;
	margin: 0px;
	border: none;
	
	position: absolute;
	top: 2px;
	right: 0px;
	width: 65px;
	height: 23px;
	
	text-shadow: 0px 1px 0px white;
}

.header #search_icon {
	position:absolute;
	top: 7px;
	left: 8px;
	opacity: 0.75;
}

.header #header_login_div {
	/* login div */
	position: absolute;
	text-align: right;
    top:18px;
    width: 350px;
    left: 100%;
    margin-left:-360px;
}
