@CHARSET "UTF-8";

*
{
	margin: 0;
	padding: 0;
}

body
{
	background: url(../images/body-bg.jpg) no-repeat fixed top;
	color: #000000;
	font-family: arial, helvetica, sans-serif;
	font-size: 100.0%;
	height:100%;
	padding: 0px;
	text-align: center;
}

#all
{
	//height:100%;
	position: relative;
	width: 1024px;
	margin: 0 auto;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}

#content_wrapper
{
	background: url(../images/white_85p_bg.png) repeat;
	background: rgba(255, 255, 255, 0.85);
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 130px;
	min-height: 450px;
	
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
	margin-bottom: 20px;
	
	border-top: 1px ridge #FFF;
}

#resultarea
{
	margin: 12px 0px 5px 100px;
	border: 1px solid #abc;
	text-align: left;
	width: 75%;
}

#wrapper {
	margin: 0 0 0 14%;
	border-left: solid 2px #FFFF00;
	padding-left: 10px;
}

#left
{
	/*background: #FFFFFF;*/
	border-right: solid 0px #EEEEEE;
	float: left;
	padding-left: 10px;
	margin: 20px 0 0 0;
	width: 14%;
}

#right
{
	color: #000;
	float: right;
	padding-top: 10px
}

h3 {
	font-size:1.1em;
	font-weight:normal;
	margin:0px 0;
}

h4 {
	border:solid 0;
	color:#000;
	font-size:1em;
}

div {
    border: 0px dotted black;
}

#login_div {
    width: 40%;
    display: block;
    /* TODO */
}

#login_div table {
    margin-left: auto;
    margin-right: auto;
}

#register_div {
	/* TODO */
	display: block;
	float: right;
	width: 40%;
}

#register_div table {
	margin-left: auto;
    margin-right: auto;
}

#footer {
    padding: 20px;
    height: 90px;
    background-color: rgb(170, 185, 200);
    text-align: center;
    
    -webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
	position: absolute;
	left: 0px;
	bottom: 0px;
	width:984px;

}

a, a:link, a:visited, a:active {
	color:#000080;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#tagcloud {
	background-color: #cde;
	border-color:#abc;
	width: 50%;	
	margin: 0 200px;
	text-align: center;
}






.pad {
	padding:25px;
	width: 38%;
}

.nodivborder {
	border: 0px;	
}
.loginfield {
	width: 9em;
}
.tagfield {
	width: 15em;
}
.login_box_text {
	text-align: right;
	margin: 5px;
	font-size: 0.9em;
}

#vertical_separator {
	float: right;
	border-left: 2px solid gray;
	height: 15em;
	margin: 20px 0px 0px 0px;
	padding: 3em;
}



.gmaps_div {
	height: 500px;
	width: 500px;
}

.my_header {
	text-align: center;
}

.editfield {
	width: 20em;
}

.msg {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: left;
    width: 50%;
}

.msg_closer {
    float: right;	
}

.msg_error {
    color: red;
    background-color: rgb(255, 200, 200);
    border: 1px solid red;
}

.msg_msg {
    color: blue;
    background-color: rgb(255, 255, 200);
    border: 1px solid yellow;
}