@CHARSET "UTF-8";

*
{
	margin: 0;
	padding: 0;
}

body
{
	background: url(../images/body-bg.jpg) no-repeat fixed top;
	color: #000000;
	font-family: arial, helvetica, sans-serif;
	font-size: 100.0%;
	height:100%;
	padding: 0px;
	text-align: center;
}

#all
{
	//height:100%;
	position: relative;
	width: 1024px;
	margin: 0 auto;
	-webkit-border-radius: 6px; 
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-border-radius: 6px;
	-moz-box-shadow: 0px 0px 20px #000;
}

/*#left_gutter
{
	background: url(../images/left-gutter.png) repeat-y right;
	height: 100%;
	width: 9px;
	left:0px;
	top: 0px;
	position:absolute;
	opacity:0.25; moz-opacity:.25; filter:alpha(opacity=25);
}
#right_gutter
{
	background: url(../images/right-gutter.png) repeat-y left;
	height: 100%;
	width: 9px;
	left:1015px;
	top: 0px;
	position:absolute;
	opacity:0.25; moz-opacity:.25; filter:alpha(opacity=25);
}
#top_gutter
{
	background: url(../images/top-gutter.png) repeat-x bottom;
	width: 1005px;
	height: 9px;
	top: -10px;
	position:absolute;
	opacity:0.25; moz-opacity:.25; filter:alpha(opacity=25);
}
#top_left_gutter
{
	background: url(../images/top-left-gutter.png) no-repeat;
	width: 9px;
	height: 9px;
	top: -9px;
	left:0px;
	position:absolute;
	opacity:0.25; moz-opacity:.25; filter:alpha(opacity=25);
}
#top_right_gutter
{
	background: url(../images/top-right-gutter.png) no-repeat ;
	width: 9px;
	height: 9px;
	top: -9px;
	left: 1014px;
	position:absolute;
	opacity:0.25; moz-opacity:.25; filter:alpha(opacity=25);
}

#main
{
	margin-left:9px;
	margin-right:9px;
}*/


#content_wrapper
{
	background: url(../images/white_85p_bg.png) repeat;
	padding: 20px;
	padding-top: 10px;
	min-height: 500px;
	
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	
	margin-bottom: 20px;
	
	border-top: 1px ridge #FFF;
}

#contentarea
{
	/*border: solid 0px #000;
	margin: 0;
	padding: 0px 0px 0px 0px;
	position: relative;
	overflow: hidden;*/
}
#wrapper {
	margin: 0 0 0 14%;
	border-left: solid 2px #FFFF00;
	padding-left: 10px;
}
#left
{
	/*background: #FFFFFF;*/
	border-right: solid 0px #EEEEEE;
	float: left;
	padding-left: 10px;
	margin: 20px 0 0 0;
	width: 14%;
}

#right
{
	color: #000;
	float: right;
	padding-top: 10px
}
/*#main
{
	background: #fff;
	margin: 0 0px 0 0;
	padding: 25px 0 20px;
	position: relative;
}*/


h3 {
	font-size:1.1em;
	font-weight:normal;
	margin:0px 0;
}

h4 {
	border:solid 0;
	color:#000;
	font-size:1em;
}

div {
    border: 0px dotted black;
}

#login_div {
    float: right;
}

#error_div {
    color: red;
    border: 1px solid;
    width: 50%;
}

#footer {
    display: block;
    padding: 20px;
    background-color: rgb(170, 185, 200);
    text-align: center;
}

a, a:link, a:visited, a:active {
	color:#000080;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* TODO: FIXME: */
.review {
    background-color: rgb(200, 220, 220);
    border: 1px solid darkblue;
}









.pad {
	padding:25px;
	width: 38%;
}

.nodivborder {
	border: 0px;	
}
.loginfield {
	width: 9em;
}

.login_box_text {
	text-align: right;
	margin: 5px;
	font-size: 0.9em;
}

#vertical_separator {
	float: right;
	border-left: 2px solid gray;
	height: 15em;
	margin: 20px 0px 0px 0px;
	padding: 3em;
}

#register_div {
	margin: 0px;
	padding: 25px;
}

.gmaps_div {
	height: 500px;
	width: 500px;
}

.my_header {
	text-align: center;
}

.editfield {
	width: 20em;
}