@CHARSET "UTF-8";


/** SEARCH RESULTS
 * This is the style for the searchresults and the tagcloud
 */

#tagcloud {
	background-color: #cde;
	border-color:#abc;
	width: 50%;	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
 
#tagcloud h3 {
	color: #56c !important;
	text-shadow: 0px 1px 0px #FFF;
}

#tagcloud a {
	background: #acf;
	color: #345;
	border: 1px solid #abc;
	padding-left: 7px;
	padding-right: 7px;
	margin-top: 20px;
	margin-bottom: 15px;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

	color: #123;
	
	text-decoration: none;
	
	-moz-box-shadow: 0px 1px 3px #123;
	-webkit-box-shadow: 0px 1px 3px #123;
	box-shadow: 0px 1px 3px #123;
}

#tagcloud a:hover {
	background: #def;
}


#resultarea
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/*border: 1px solid #abc;*/
	text-align: left;
	width: 75% !important;
	padding-left: 12px !important;
		
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-left-radius: 15px;
	
	border: none;
	border-top: 1px solid #abc;
	border-left: 1px solid #abc;
}

#search-result {
	border: none;
	border-top: 1px solid #abc;
	border-left: 1px solid #abc;
	padding: 3px !important;
	
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}


.adv_search_table td {
	background: red;
	padding: 10px;
	width: 100px;
}

#adv_radio_rev  {
	vertical-align: middle;
}


.adv_search_radio:hover  {
	
}





.adv_search_form .searchfield {
	/* position */
	background: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	height: 20px;
	width: 22em;
	
	/* padding the text inside */
	padding-left: 22px;
	padding-right: 67px;
	
	/* looks */
	border: 1px solid rgb(71, 105, 117);
	-moz-box-shadow: 0px 1px 0px #FFF;/*, inset 0px 1px 3px #000;*/
	-webkit-box-shadow: 0px 1px 0px #FFF;
	box-shadow: 0px 1px 0px #FFF;
	
	margin-left: 0px !important;
	width: 85%;
}

.adv_search_form {
	text-align: center;
}

.adv_search_form #search {
	position: relative;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 65%;
}

.adv_search_form .searchfield:focus {
	/* give the search-field a highlighted look on focus*/
	box-shadow: 0px 1px 0px #FFF, 0px 0px 20px #FFF;
	-moz-box-shadow: 0px 1px 0px #FFF, 0px 0px 20px #FFF;
	-webkit-box-shadow: 0px 1px 0px #FFF, 0px 0px 20px #FFF;
	
	/* without the square outline */
	outline: none;
}

.adv_search_form #search_button {
	background: url(../images/search-button.png) bottom no-repeat;
	margin: 0px;
	border: none;
	padding-bottom: 3px;
	
	position: absolute;
	top: 0px;
	right: 0px;
	width: 65px;
	height: 23px;
	
	text-shadow: 0px 1px 0px white;
}

.adv_search_form #search_icon {
	position:absolute;
	top: 5px;
	left: 12px;
	opacity: 0.75;
}

.adv_search_form table {
	margin: auto;
	border-collapse:collapse
}

.adv_search_form td {
	border-left: 1px solid rgba(0,0,0,0.5);
	border-right: 1px solid rgba(0,0,0,0.5);
	
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
}


#new_button {
	/* links are bold with a etched look */
	color: #000 !important;
	opacity:0.8;
	text-shadow: 0px 1px 0px #FFF;
	font-weight: bold;
	
}
#new_button:hover {
	/* adds a big background blur when moused over 
	 * and makes the font-color darker.
	 * Has no other decoration */
	color: #000;
	opacity:1;
	text-shadow: 0px 1px 0px #FFF, 0px 0px 10px #FFF;
	font-weight: bold;
	
	text-decoration: none !important;	
}
